@font-face {
  font-family: "BubbleGumSans";
  src: url("../fonts/BubbleGumSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "BubbleGumSans", sans-serif;
}
