/* Add this CSS to hide the vertical scrollbar */
.overflow-y-auto::-webkit-scrollbar {
  width: 12px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background-color: transparent; /* or any color you prefer */
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: transparent; /* or any color you prefer */
  border-radius: 6px;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3); /* change on hover color if needed */
}
